<a href="https://colab.research.google.com/github/nanda1296/Predictive-Analytics-for-Real-Estate/blob/main/Project_Group_A13.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [13]:
df = pd.read_excel('/content/Spring 2023 - AISC - Nest Analytics_Toronto_housing_data_.xlsx')

In [14]:
df.head(5)

,Unnamed: 0,Land Use,Property Address,Suite/ Condo #,Sale Date,Sale Price,Legal Reference,Sold As Vacant,Multiple Parcels Involved in Sale,Owner Name,...,Building Value,Total Value,Finished Area,Foundation Type,Year Built,Exterior Wall,Grade,Bedrooms,Full Bath,Half Bath
0,0,RESIDENTIAL CONDO,1208 3RD AVE S,8,2013-01-24,132000,20130128-0008725,No,No,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,SINGLE FAMILY,1802 STEWART PL,NaN,2013-01-11,191500,20130118-0006337,No,No,"STINSON, LAURA M.",...,134400.0,168300.0,1149.00000,PT BSMT,1941.0,BRICK,C,2.0,1.0,0.0
2,2,SINGLE FAMILY,2761 ROSEDALE PL,NaN,2013-01-18,202000,20130124-0008033,No,No,"NUNES, JARED R.",...,157800.0,191800.0,2090.82495,SLAB,2000.0,BRICK/FRAME,C,3.0,2.0,1.0
3,3,SINGLE FAMILY,224 PEACHTREE ST,NaN,2013-01-18,32000,20130128-0008863,No,No,"WHITFORD, KAREN",...,243700.0,268700.0,2145.60001,FULL BSMT,1948.0,BRICK/FRAME,B,4.0,2.0,0.0
4,4,SINGLE FAMILY,316 LUTIE ST,NaN,2013-01-23,102000,20130131-0009929,No,No,"HENDERSON, JAMES P. & LYNN P.",...,138100.0,164800.0,1969.00000,CRAWL,1910.0,FRAME,C,2.0,1.0,0.0

In [15]:
del df[df.columns[0]]

In [16]:
df.head(5)

,Land Use,Property Address,Suite/ Condo #,Sale Date,Sale Price,Legal Reference,Sold As Vacant,Multiple Parcels Involved in Sale,Owner Name,Address,...,Building Value,Total Value,Finished Area,Foundation Type,Year Built,Exterior Wall,Grade,Bedrooms,Full Bath,Half Bath
0,RESIDENTIAL CONDO,1208 3RD AVE S,8,2013-01-24,132000,20130128-0008725,No,No,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,SINGLE FAMILY,1802 STEWART PL,NaN,2013-01-11,191500,20130118-0006337,No,No,"STINSON, LAURA M.",1802 STEWART PL,...,134400.0,168300.0,1149.00000,PT BSMT,1941.0,BRICK,C,2.0,1.0,0.0
2,SINGLE FAMILY,2761 ROSEDALE PL,NaN,2013-01-18,202000,20130124-0008033,No,No,"NUNES, JARED R.",2761 ROSEDALE PL,...,157800.0,191800.0,2090.82495,SLAB,2000.0,BRICK/FRAME,C,3.0,2.0,1.0
3,SINGLE FAMILY,224 PEACHTREE ST,NaN,2013-01-18,32000,20130128-0008863,No,No,"WHITFORD, KAREN",224 PEACHTREE ST,...,243700.0,268700.0,2145.60001,FULL BSMT,1948.0,BRICK/FRAME,B,4.0,2.0,0.0
4,SINGLE FAMILY,316 LUTIE ST,NaN,2013-01-23,102000,20130131-0009929,No,No,"HENDERSON, JAMES P. & LYNN P.",316 LUTIE ST,...,138100.0,164800.0,1969.00000,CRAWL,1910.0,FRAME,C,2.0,1.0,0.0